@model WeatherForecast.Models.WeatherContent;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <h5>Enter city name</h5>
        @Html.TextBoxFor(x => x.Name)
        <input type="submit" name="Enter" value="Enter" />

    }
    @if (ViewBag.InvalidInput == "True")
    {
        <h2>Please Enter the city name in correct format</h2>
    }
    else
    {
         <h3>The temperature in @ViewBag.WeatherContent.Name is @ViewBag.WeatherContent.Main.Temp</h3>
         <h3>And there is @ViewBag.WeatherContent.Weather[0].Description</h3>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
